.button
  width: 250px
  font-size: 20px
  padding: 15px
  border: none
  outline: none
  cursor: pointer
  border-radius: 25px
  background: none
  
.button--green
  color: white
  background: rgb(64,199,129)

.button--red
  color: white
  background: #fe1a00