.checkbox-green-red
  user-select: none

.checkbox-green-red--disabled
  cursor: default

.checkbox-green-red__checkbox,
.checkbox-green-red__checkbox:checked ~ .checkbox-green-red__red,
.checkbox-green-red__checkbox:not(:checked) ~ .checkbox-green-red__green
  display: none

.checkbox-green-red__red
  color: red

.checkbox-green-red__green
  color: green