.add-event-form__title
  text-align: center
  font-size: 30px
  padding: 15px

.add-event-form__field
  display: flex
  padding: 10px

.add-event-form__field-title
  width: 25%

.add-event-form__field > input:not([type='checkbox']),
.add-event-form__field > textarea
  width: 75%
  outline: none

.add-event-form__field > select
  outline: none
  
.add-event-form__field > textarea
  resize: none
  height: 100px