.event-list:not(.event-list--empty)
  display: flex
  flex-wrap: wrap
  width: 100%

.event-list--empty
  height: 250px
  font-size: 20px
  display: flex
  align-items: center
  justify-content: center