.modal
  display: none

.modal--open
  display: flex
  align-items: center
  justify-content: center
  position: fixed
  top: 0
  bottom: 0
  right: 0
  left: 0
  background: rgba(0, 0, 0, 0.5)

.modal__content-wrap
  padding: 15px
  background: white

.modal__content-wrap--sticker
  background: url('../../../assets/sticker.png')
  background-size: cover