body
  margin: 0
  background: rgba(0, 0, 0, 0.01)

#app
  margin: auto
  background: white
  width: 720px

.app
  min-height: 100vh
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center    

@media(min-width: 1200px)
  #app
    width: 1200px