.show-event-modal
  width: 600px
  height: 600px
  box-sizing: border-box
  padding: 40px 50px
  font-family: 'Caveat', cursive
  font-size: 25px
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center

.show-event-modal .event-form__field-title
  width: 40%